*{
    margin: 0;
    padding:0;
}

.cabecalho{
    background-color: #c58000;
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: space-around; 
    padding: 20px 5;
    font-size: 15px;
}

.cabecalhoListaItem{
    display:inline-block;
    margin: 20 20px;
    padding: 15px 0; 
}

.sobreImagem{
           width: 30%;
}

.sobre{
        background-image: linear-gradient(#ffffff, #ff0000);
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
       align-items: center;
       padding: 200px 50px;
}

.sobreConteudo{
        width: 40%;
}

.sobreTitulo{
         padding: 10px 50px;
}
.membroImagem{
width:120px;
}

.membroIcone{
width: 24px;
}

.membroDiv{
text-align: center;
}

.membrosTitulo{
text-align:center;
padding: 50px 0;
}

.membroImagem{
width:120px;
}

.membroIcone{
width: 24px;
}

.membroDiv{
text-align: center;
}

.membrosTitulo{
text-align:center;
padding: 50px 0;
}

.membrosTodos{
display: grid;
/*Transforma o display em quadrados*/
grid-template-columns: 10% 20% 20% 20% 20% 10%;
/*Quanto cada coluna ocupa na página, em sequência*/
}

.membroDiv{
text-align:center;
padding-bottom: 34px;
}

.membros{
background-color: rgb(255, 0, 0);
}