*{
 margin: 0 ;
 padding: 0 ;
}

.cabecalho{
    background-color:darkred;
    color:rgb(200, 0, 250);
    display:flex;
    justify-content:space-around;
    padding: 30px 5;
    font-size: 20px;
}

.cabecalholistaItem{
display:inline-block;
margin: 20 3px;
padding: 75px 0;
}
